extends layout

block header_meta
	- var content_title= 'acoustic treatment | about'
	- var menu_active = 'about'

block header_include
	- var include_css = ['about.css']
	- var include_js = ['about.js']

block content
	.panel_block.left: .panel_inner
	.panel_block.right: .panel_inner!= html