extends layout

block header_meta
	- var content_title= 'acoustic treatment'
	- var menu_active = 'live'

block header_include
	- var include_css = ['main.css']
	- var include_js = ['main.js']

block content
	.panel_block.left: .panel_inner
		each item, i in new Array(20)
			.live_item
				.item_num= i
				.item_title
					span.title_main= 'item ' + i
					span= ' '
					span.title_alt= 'alt title'

	.panel_block.right: .panel_inner right