doctype html
html
	block params
	head
		include header
	body
		.outer_block
			.header_block
				span header

			.content_block
				block content

			.footer_block
				span footer
		include counters.pug