extends layout

block header_meta
	- var content_title= 'acoustic | treatment / broadcast' + (content ? ' / ' + content.title : '')
	- var content_description = content && content.intro
	- var content_images = content && content.cover && [content.cover]
	- var menu_active = 'broadcast'

block header_include
	- var include_css = ['live.css', 'content.css']
	- var include_js = ['live.js', 'share.js']

block content
	.panel_block.left: .panel_inner
		each event in events
			.event_item(class=event.type)
				.event_num= event.numb
				a.event_title(href='/broadcast/' + event._short_id)= event.title
				.event_type: span= event.type

	.panel_block.right(class=content ? 'show' : ''): .panel_inner
		if content
			include _content.pug