extends layout

block header_meta
	- var content_title= 'acoustic treatment | live'
	- var menu_active = 'live'

block header_include
	- var include_css = ['live.css']
	- var include_js = ['live.js']

block content
	.panel_block.left: .panel_inner
		each event in events
			a.live_event(href='#' + event._short_id)
				.event_num= event.numb
				.event_title
					span.title_main= event.title
					//- span= ' '
					//- span.title_alt= 'alt title'

	.panel_block.right: .panel_inner