extends layout

block header_meta
	- var content_title= 'acoustic | treatment / news'
	- var menu_active = 'news'

block header_include
	- var include_css = ['news.css', 'content.css']
	- var include_js = ['news.js', 'share.js']

block content
	.panel_block.left: .panel_inner
		each n_item in news
			a.news_item(href='#' + n_item._short_id)
				.news_date= moment(n_item.date).format('DD.MM.YY')
				.news_title: span= n_item.title

	.panel_block.right: .panel_inner