extends layout

block header_meta
	- var content_title= 'acoustic treatment | news'
	- var menu_active = 'news'

block header_include
	- var include_css = ['news.css']
	- var include_js = ['news.js']

block content
	.panel_block.left: .panel_inner left
	.panel_block.right: .panel_inner right