@import '_fonts.styl'
@media screen and (max-width: 960px)
	@import 'mobile/_global.styl'


body
	margin 0
	padding 0
	background-color black
	color white

a
	color white


.header_block
	display flex
	justify-content space-between
	align-items center
	padding-left 20px
	padding-right 20px
	width 100%
	position fixed
	box-sizing border-box
	background-color black
	top 0
	z-index 9999
	.search_block
		-webkit-appearance: none;
		border-radius 0
		padding 0
		display inline-block
		border none
		outline none
		background-color transparent
		color white
		font 22pt/24pt 'Arial'
		flex 2
	.logo_block
		flex 2
		margin-left 20px
		margin-right 20px
		img
			width 280px
			display block
	.menu_block
		flex 0.5
		font 22pt/24pt 'Arial'
		a
			margin-right 10px
			text-decoration none
			&.disabled
				opacity 0.5
				pointer-events none
			&:last-child
				margin-right 0
			&:hover
			&.active
				border-bottom 2px solid white


.content_block
	.panel_block
		width 50%
		height 100%
		position absolute
		overflow scroll
		padding-top 100px
		padding-bottom 200px
		box-sizing border-box
		padding-left 20px
		padding-right 20px
		&.left
			left 0
		&.right
			right 0


.footer_block
	padding-left 20px
	padding-right 20px
	box-sizing border-box
	width 100%
	position fixed
	bottom 0
	padding-bottom 20px
	padding-top 10px
	background-color black
	.subscribe_block
		-webkit-appearance: none;
		border-radius 0
		padding 0
		display inline-block
		border none
		outline none
		background-color black
		color white
		font 22pt/24pt 'Arial'
	.down_block
		float right
		font 22pt/24pt 'Arial'
		a
			margin-right 10px
			text-decoration none
			&:last-child
				margin-right 0
			&:hover
			&.active
				border-bottom 2px solid white