@media screen and (max-width: 980px)
	@import 'mobile/_live.styl'

.content_block
	overflow hidden

.panel_block
	width 50%
	&.left
		float left
		.panel_inner
			font-size 0
	&.right
		float right


.content_event
	.event_cover
		width 100%
		display block
	.event_date
		font 12pt/14pt 'Arial'
		margin-top 20px
	.event_title
		margin-top 20px
		font 22pt/24pt 'Arial'
		text-indent 40px
		box-sizing border-box
	.event_intro
		margin-top 20px
		text-indent 40px
		font 14pt/22pt 'Arial'
	.event_description
		margin-top 20px
		font 14pt/22pt 'Arial'
		img
			width 100%

.live_event
	width 33.333333333%
	padding-right 20px
	box-sizing border-box
	display inline-block
	vertical-align top
	margin-bottom 40px
	cursor pointer
	text-decoration none
	&:hover .event_title
		border-bottom 2px solid white
	.event_num
		font 22pt/28pt 'Arial'
	.event_title
		font 22pt/28pt 'Arial'
		display inline-block
		border-bottom 2px solid transparent
		.title_alt
			font-style italic