@media screen and (max-width: 980px)
	@import 'mobile/_main.styl'

.content_block
	margin-top 20px

.panel_block
	width 50%
	&.left
		float left
		.panel_inner
			font-size 0
	&.right
		float right

.live_item
	width 33.333333333%
	padding-right 20px
	box-sizing border-box
	display inline-block
	vertical-align top
	margin-bottom 40px
	cursor pointer
	&:hover .item_title
		border-bottom 2px solid white
	.item_num
		font 22pt/28pt 'Arial'
	.item_title
		font 22pt/28pt 'Arial'
		display inline-block
		border-bottom 2px solid transparent
		.title_alt
			font-style italic