@media screen and (max-width: 980px)
	@import 'mobile/_news.styl'

.content_block
	overflow hidden

.panel_block
	width 50%
	&.left
		float left
	&.right
		float right


.news_item
	padding-right 20px
	box-sizing border-box
	margin-bottom 40px
	cursor pointer
	text-decoration none
	display block
	&:hover .news_title span
		border-bottom 2px solid white
	.news_dater
		font 12pt/14pt 'Arial'
	.news_title
		margin-top 15px
		text-indent 40px
		font 22pt/28pt 'Arial'
		display inline-block
		span
			border-bottom 2px solid transparent


.content_news
	.news_embed
		width 100%
		position relative
		padding-bottom 56.25% /* 16:9 */
		padding-top 0px
		height 0
		.embed
			position absolute
			top 0
			left 0
			width 100%
			height 100%
	.news_cover
		width 100%
		display block
	.news_date
		font 12pt/14pt 'Arial'
		margin-top 20px
	.news_title
		margin-top 20px
		font 22pt/24pt 'Arial'
		text-indent 40px
		box-sizing border-box
	.news_intro
		margin-top 20px
		text-indent 40px
		font 14pt/22pt 'Arial'
	.news_description
		margin-top 20px
		font 14pt/22pt 'Arial'
		img
			width 100%


.content_share
	margin-top 60px
	a
		font 22pt/24pt 'Arial'
		text-decoration none
		&:hover
			display inline-block
			border-bottom 2px solid white