.search_logo
.menu_open
	display block!important

.menu_block
.search_input
.menu_spacer
	display none!important

.logo_block
	margin-left auto!important
	margin-right auto!important
	margin-top 10px
	img
		width 180px!important

.menu_block
	width 100%!important
	height 100%!important
	position fixed!important
	background-color black
	right 0px!important
	left 0px!important
	top auto!important
	padding-right 20px
	box-sizing border-box
	.menu_inner
		margin-top 20px
		float right
		text-align right
	a
		margin-right 0!important
		display block
		margin-bottom 15px


.footer_block
	display none
	.subscribe_block
	.down_block
		margin-top 20px
		text-align right
		display block!important
		float right!important


.content_block
.search_block
	.panel_block
		padding-top 80px!important
		padding-bottom 40px!important
		width 100%!important